<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="icon" type="image/png" href="img/icon.png">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="main">
    {{>header}}
    <div class="main-content">
        <section class="bar">
            <h2 style="color: #be3144;">{{title}}</h2>
        </section>
        <section class="content">
            <div class="error">
                {{message}}
            </div>
        </section>
    </div>
    {{>footer}}
</body>

</html>