<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" type="image/png" href="img/icon.png">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<body class="main">
    {{>header}}
    <div class="main-content">
       <section class="bar">
           <h2>{{title}}</h2>
       </section>
       <section class="content">
           <div class="details">
                <p>Hello!</p> <br>
                <p>You can use this app to get weather instantly and simply!</p>
                <p>The weather is retrieved using <a href="https://openweathermap.org/" target="_blank">Openweather</a> API.</p>
                <p>Geolocation is retrieved using <a href="https://www.mapbox.com" target="_blank">MapBox API.</a></p> <br> <br>
                <h2>Md. Imam Hossain</h2>
                <p>Information and Communication Engineering</p>
                <p>Noakhali Science and Technology University</p>
           </div>
           <div class="img">
                <img src="/img/me.jpg">
           </div>

       </section>
    </div>
    {{>footer}}
</body>
</body>
</html>