<!DOCTYPE html>
<html>

<head>
    <title>Simple Weather</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="icon" type="image/png" href="img/icon.png">
</head>

<body class="main">
    {{>header}}
    <div class="main-content">
        <section class="top-main">
            <article class="time">
                <p>Time: </p>
                <p>Date: </p>
            </article>
            <article class="search">
                <form action="" id="weather-form-1">
                    <input id="search-text-1" type="text" placeholder="Location">
                    <button>Search</button>
                </form>
            </article>
        </section>
        <article class="location-bar">
                <!-- code will come from app.js --> 
        </article>
        <div class="weather">
                <!-- code will come from app.js -->
        </div>

    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>